.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 25px;
  padding: 80px;
  padding-top: 40px;
}

.printMn{
  min-width: 500px;

  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;

  text-align: center;
}

.MnBtn{
  margin-top: 50px;

  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: aquamarine;
}

.keyStore{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  border: 1px solid black;
  border-radius: 25px;
  padding: 80px;
  margin-top: 150px;
}

.pw{
  width: 500px;
  margin-bottom: 10px;
}

.mn{
  width: 500px;
}

.KeyBtn{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: aquamarine;

  align-self: center;
}

.address{
  align-self: center;
}